es {
    url = "http://localhost:9200"
    index = "news"
//    user = "elastic"
//    pass = "changeme"
}

/* uncomment to enable fetching from News API - also, get a key
newsApi {
    key = ""
}
*/

enrichment {

    /* uncomment to enable Rosette API entity/location extraction
    rosetteApi {
        url = "http://localhost:8181/rest/v1"
        key = ""
    }
    */
}

//clean = true
