es {
    url = "http://localhost:9200"
    index = "news"
    entity_sentiment_index = "news_entity_sentiment"
    entity_momentum_index = "news_entity_momentum"
//    user = "elastic"
//    pass = "changeme"
}

/* uncomment to enable fetching from News API - also, get a key
newsApi {
    key = ""
    sources = [
        "al-jazeera-english",
        "ars-technica",
        "associated-press",
        "bbc-news",
        "bbc-sport",
        "bloomberg",
        "business-insider",
        "cnbc",
        "cnn",
        "financial-times",
        "google-news",
        "hacker-news",
        "newsweek",
        "new-york-magazine",
        "reuters",
        "techcrunch",
        "the-economist",
        "the-guardian-uk",
        "the-new-york-times",
        "the-times-of-india",
        "the-wall-street-journal",
        "the-washington-post",
        "time",
        "usa-today"
    ]
}
*/

enrichment {

    /* uncomment to enable Rosette API entity/location extraction
    rosetteApi {
        url = "http://localhost:8181/rest/v1"
        key = "<key>"
    }
    */
}

//clean = true
